@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Visit <a href="https://github.com/pearl2201/qrcp">github</a> to get source code.</p>
</div>