@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 <div class="row">
     <div class="col-6 text-center">
        <a class="btn btn-primary" type="button" asp-area="" asp-page="/Send">
            Send
        </a>
    </div>
    <div class="col-6  text-center10"
    U    >
        <a class="btn btn-primary" type="button" asp-area="" asp-page="/Receive">
            Receive
        </a>
    </div>
</div>