@page
@model qrserver.Pages.Upload.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Upload</h1>


<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Post.File" class="control-label"></label>
        <input asp-for="Post.File" class="form-control" />
        <span asp-validation-for="Post.File" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>